<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./includes/Bootstrap.ejs') %>
  <style>
    .container{
      margin-top: 15%;
      margin-bottom: 8%;
    }
    body{
      background-image: url("https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055_1280.jpg");
      background-size: 100% 100%;
      
      height: 100vh;
      width: 100%;
    }
  </style>
  <title><%=pageTitle%></title>
</head>
<body>
  <%- include('./includes/Navbar.ejs') %>
  <div class="container">
   
    <div class="row">
      <div class="col-sm-6">
        <% if(errorMessage){ %>
          <div>
            <div class="alert alert-warning" role="alert">
              <%=errorMessage%>
            </div>
          </div>
          <% } %>
        <form action="/signup" method="POST" class="justify-content-center align-content-center">

          <div class="form-group">
            <label for="exampleInputEmail1" class="h1 text-white">First Name</label>
            <input autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" name="firstName">
          </div>
    
          <div class="form-group">
            <label for="exampleInputEmail1" class="h1 text-white">Last Name</label>
            <input autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" name="lastName">
          </div>
    
          <div class="form-group">
            <label for="exampleInputEmail1" class="h1 text-white">Email address</label>
            <input autocomplete="off" name="email" type="email" class="form-control" id="exampleInputEmail1" >
          </div>
    
          <div class="form-group">
            <label for="exampleInputPassword1" class="h1 text-white">Password</label>
            <input autocomplete="off" name="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
    
          <div class="form-group">
            <label for="exampleInputPassword1" class="h1 text-white">Confirm Password</label>
            <input autocomplete="off" name="confirmPassword" type="password" class="form-control" id="exampleInputPassword1">
          </div>
    
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
    
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>
    </div>

  </div>
</body>
</html>